@import '_section1.scss';
@import '_section2.scss';
@import '_section3.scss';
@import '_section4.scss';

.container {
    width: 90%;
    margin: auto;
}

h2,
h3 {
    font-family: "Goblin";


}

h2 {
    font-size: 3rem;
    color: rgb(241, 187, 9);
    text-align: center;
    padding: 20px;
    margin-bottom: 5%;
    position: relative;
}