main section:nth-of-type(1) {
    position: relative;
    height: 140vh;

    article {
        width: 50%;
        background: rgb(0, 0, 0);
        background: linear-gradient(270deg, rgba(0, 0, 0, 0.6106092095041141) 47%, rgba(0, 0, 0, 0.4761554279915091) 60%, rgba(0, 0, 0, 0) 100%);
        position: absolute;
        right: 0;
        top: 20%;
        padding: 8%;
    }

    div {
        position: absolute;
        top: 0%;
        left: 0%;
        z-index: -1;
        width: 90%;
    }

    h3,
    p {
        color: white;
    }

    p {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 1.2rem;
    }

    h3 {
        font-size: 1.5rem;
        padding: 18px 0px;
        margin-bottom: 5px;
    }

    h2 {
        &::after {
            content: "La chasse est ouverte";
            color: white;
            opacity: 0.1;
            z-index: -1;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%) scale(2);
            font-size: 3rem;
        }
    }
}