@font-face {
    font-family: "Goblin";
    src: url("../font/VTCGoblinHand.ttf");
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: black
}

@import '_header.scss';

video {
    width: 100%;
}

img {
    width: 100%;
}
