@font-face {
  font-family: "Goblin";
  src: url("../font/VTCGoblinHand.ttf");
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: black;
}

.hamb {
  position: fixed;
  bottom: 3%;
  right: 8%;
  padding: 25px 28px;
  z-index: 10;
  width: 90px;
  height: 90px;
  background-image: url("../img/iconMenu.png");
  background-repeat: no-repeat;
  background-size: cover;
  cursor: pointer;
  z-index: 10;
}
.hamb ul {
  list-style: none;
  width: 32px;
}
.hamb ul li {
  height: 3px;
  background-color: white;
  margin: 8px 0;
  transition: all 0.5s ease;
}

.active li:nth-of-type(1) {
  transition: all 0.8s ease;
  transform: translate(0, 11px) rotate(45deg);
}
.active li:nth-of-type(2) {
  opacity: 0;
}
.active li:nth-of-type(3) {
  transition: all 0.8s ease;
  transform: translate(0, -11px) rotate(-45deg);
}
.active + .nav-contain {
  opacity: 1;
}

@keyframes glow {
  from {
    background: rgb(230, 251, 63);
    background: radial-gradient(circle, rgb(230, 251, 63) 65%, rgb(36, 168, 255) 95%, rgba(70, 211, 252, 0.963550386) 100%);
  }
  50% {
    background: rgb(198, 218, 52);
    background: radial-gradient(circle, rgb(198, 218, 52) 65%, rgb(70, 180, 252) 95%, rgba(70, 211, 252, 0.963550386) 100%);
  }
  to {
    background: rgb(229, 255, 28);
    background: radial-gradient(circle, rgb(229, 255, 28) 65%, rgb(23, 162, 255) 95%, rgba(70, 211, 252, 0.963550386) 100%);
  }
}
header {
  position: relative;
  background-attachment: fixed;
  height: 100vh;
  margin-bottom: 13%;
}

video {
  z-index: -1;
}

header div:nth-of-type(2) {
  position: absolute;
  top: 11%;
  left: 30%;
  width: 60%;
}

.nav-contain {
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  background: rgb(0, 0, 0);
  background: linear-gradient(0deg, rgb(0, 0, 0) 0%, rgba(0, 0, 0, 0.501365512) 100%);
  z-index: 5;
  padding-bottom: 3%;
  padding-top: 3%;
  opacity: 0;
  transition: all 0.5s ease;
}
.nav-contain ul {
  list-style: none;
  display: flex;
  width: 70%;
}
.nav-contain ul li {
  margin: 0px 35px;
  display: flex;
  position: relative;
  background-image: url(../img/icon.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: left;
  text-align: right;
  width: 100%;
}
.nav-contain ul li::after {
  content: "";
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background-color: transparent;
  border: solid 1px white;
  position: absolute;
  left: 15%;
  bottom: -20%;
  transition: opacity 0.3s ease;
}
.nav-contain ul li::before {
  content: "";
  width: 80px;
  height: 1px;
  background: rgb(255, 255, 255);
  background: linear-gradient(90deg, rgb(255, 255, 255) 62%, rgba(255, 255, 255, 0.0419817585) 100%);
  position: absolute;
  left: 18%;
  bottom: -15%;
  transition: opacity 0.3s ease;
}
.nav-contain ul a {
  color: white;
  font-family: "Goblin";
  text-decoration: none;
  font-size: 1.4rem;
  padding-top: 10%;
  position: relative;
  padding-left: 25%;
}
.nav-contain ul a::after {
  content: "";
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: rgb(230, 251, 63);
  background: radial-gradient(circle, rgb(230, 251, 63) 65%, rgb(70, 180, 252) 95%, rgba(70, 211, 252, 0.963550386) 100%);
  position: absolute;
  left: 18%;
  top: 42%;
  opacity: 0;
  transition: opacity 0.3s ease;
}
.nav-contain ul a:hover {
  color: rgb(241, 187, 9);
}
.nav-contain ul a:hover::after {
  opacity: 1;
  animation: glow 1s infinite alternate;
}

video {
  width: 100%;
}

img {
  width: 100%;
}

main section:nth-of-type(1) {
  position: relative;
<<<<<<< HEAD
=======
  height: 140vh;
>>>>>>> features/main-section2
}
main section:nth-of-type(1) article {
  width: 50%;
  background: rgb(0, 0, 0);
  background: linear-gradient(270deg, rgba(0, 0, 0, 0.6106092095) 47%, rgba(0, 0, 0, 0.476155428) 60%, rgba(0, 0, 0, 0) 100%);
  position: absolute;
  right: 0;
  top: 20%;
  padding: 8%;
}
main section:nth-of-type(1) div {
  position: absolute;
  top: 0%;
  left: 0%;
  z-index: -1;
  width: 90%;
}
main section:nth-of-type(1) h3,
main section:nth-of-type(1) p {
  color: white;
}
main section:nth-of-type(1) p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.2rem;
}
main section:nth-of-type(1) h3 {
  font-size: 1.5rem;
  padding: 18px 0px;
  margin-bottom: 5px;
}
main section:nth-of-type(1) h2::after {
  content: "La chasse est ouverte";
  color: white;
  opacity: 0.1;
  z-index: -1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(2);
  font-size: 3rem;
}

main section:nth-of-type(2) {
  position: relative;
  height: 140vh;
  overflow: hidden;
}
main section:nth-of-type(2) video {
  z-index: -1;
}
main section:nth-of-type(2) article {
  width: 50%;
  background: rgb(0, 0, 0);
  background: linear-gradient(270deg, rgba(0, 0, 0, 0.6106092095) 47%, rgba(0, 0, 0, 0.476155428) 60%, rgba(0, 0, 0, 0) 100%);
  position: absolute;
  right: 0;
  top: 20%;
  padding: 8%;
  color: white;
  z-index: 2;
}
main section:nth-of-type(2) article p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.2rem;
}
main section:nth-of-type(2) article h3 {
  font-size: 1.5rem;
  padding: 18px 0px;
  margin-bottom: 100px;
}
main section:nth-of-type(2) article div {
  background-image: url(../img/iconMenu.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right;
  height: 12vh;
  margin-top: 2%;
}
main section:nth-of-type(2) article div h4 {
  font-family: "Goblin";
  font-size: 1.2rem;
  text-align: right;
  padding-right: 8%;
  padding-top: 6%;
}
main section:nth-of-type(2) h2 {
  z-index: 2;
}
main section:nth-of-type(2) h2::after {
  content: "Nouvelles menaces";
  color: white;
  opacity: 0.1;
  z-index: -1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(2);
  font-size: 3rem;
}
main section:nth-of-type(2) > div:nth-of-type(2) {
  z-index: 0;
  position: absolute;
  top: 5%;
  left: -15%;
  width: 30%;
}
main section:nth-of-type(2) .animation {
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
main section:nth-of-type(2) .animate {
  transition: transform 0.8s ease;
  transform: rotate(0deg);
  transform-origin: top;
}
main section:nth-of-type(2) .animate:not(.active) {
  transform: rotate(180deg) translateX(20%);
}
main section:nth-of-type(2) .animate.active {
  transform: rotate(720deg);
  transform: translateX(40%) scale(2);
}

.container {
  width: 90%;
  margin: auto;
}

h2,
h3 {
  font-family: "Goblin";
}

h2 {
  font-size: 3rem;
  color: rgb(241, 187, 9);
  text-align: center;
  padding: 20px;
  margin-bottom: 5%;
  position: relative;
}/*# sourceMappingURL=style.css.map */